.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: darkcyan;
}

.day-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}