.main {
    display: flex;
    width: 100%;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin-top: 10vh;
    height: 90vh;
    overflow-y: scroll;
    background-image: url(../../../public/images/dark-mode-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: contain;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}