.dashboard {
    display: flex;
    width: 100%;
}

.main-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    height: 90vh;
    overflow-y: scroll;
    background-color: #18191a;
    /* background-image: url(../../../public/images/canva-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: contain; */
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}