:root {
  --primary-background-color: #242526;
  --secondary-background-color: #18191a;
  --tertiary-background-color: #044946;
  --primary-font-color: #72fdd8;
  --secondary-font-color: black;
  --primary-button-color: #54a993;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  background-color: var(--primary-background-color);
  scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Exo 2', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #18191a;
  color: white;
}

.highlight {
  color: var(--primary-font-color)
}