.stats {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 0vw;
    height:75vh;
    width: 25%;
    z-index: 2;
    overflow-y: scroll;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--primary-background-color);
    padding: 20px;
}

.api-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.streak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.streak > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 12px;
}