.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    background-color: var(--primary-background-color);
    border-radius: 20px;
    margin: 20px;
    height: 90vh;
    padding: 20px;
}

.api-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}