.today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    margin: 20px;
    margin-top: 35vh;
    box-sizing: border-box;
    color: var(--primary-font-color);
    background-color: var(--secondary-background-color);
    border: 5px solid var(--primary-background-color);
    backdrop-filter: blur(10px);
    background-color: rgba(15, 15, 15, 0.594);
    border-radius: 20px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--primary-background-color);
    border-radius: 20px;
    padding: 0px 20px;
}

.today > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.today > form > textarea {
    min-height: 150px;
    min-width: 95%;
    max-width: 95%;
}

.day-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 20px;
}

.stats-and-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-top: 10px;
}

.submit-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: var(--primary-font-color);
    line-height: 1.15;
    font-size: 16px;
}

.submit-button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}